rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null && 
        (resource.data.authorId == request.auth.uid || 
         request.resource.data.diff(resource.data).affectedKeys()
         .hasOnly(['votes', 'userVotes']));
      allow delete: if request.auth != null && 
        (resource.data.authorId == request.auth.uid ||
         request.auth.token.email == 'amleth');
    }
  }
} 